<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vulnerable Web Application</title>
        <link rel="stylesheet" href="./style.css" />
        <script src="./script.js" defer></script>
        <base href="/" />
    </head>
    <body>
        <div class="posts"></div>
        <div class="inputs">
            <input type="text" placeholder="Username" class="username-input" />
            <textarea placeholder="Post content" class="text-input"></textarea>
            <button class="submit-btn">Post</button>
        </div>
    </body>
</html>
